.snakemake/
001
001.missing
002
002.missing
003
003.missing
004
004.missing
005
005.missing
00_05122023_logs/
00_logs/
00_reads/
00_registry/
01-fastqc/
02-trimming/
03-bismark/
04-filter_dedup/
README_cmd
Snakefile
benchmarks/
config/
data/
duplication.slurm_ids
duplication.slurm_status
duplication_round2.slurm_ids
duplication_round2.slurm_out
duplication_round3.slurm_ids
duplication_round3.srr_ids
duplication_round4.slurm_ids
duplication_round5.slurm_ids
duplication_round6.slurm_ids
duplication_round7.slurm_ids
failed_samples_prefix_duplic.txt
output.swarn
results/
sample_prefix.txt
sample_prefix.txt_orig
sample_prefix_Bcell_BS.txt
sample_prefix_Bonemarrow_BS.txt
sample_prefix_SRR1946794.txt
sample_prefix_SRR1946801.txt
sample_prefix_SRR1946810.txt
sample_prefix_SRR1946811.txt
sample_prefix_SRR1946814.txt
sample_prefix_SRR1946819.txt
sample_prefix_SRR1946821.txt
sample_prefix_WT_BM_WGBS.txt
sample_prefix_adipocyte_WT_Bisulfite.txt
sample_prefix_dupl_round2.txt
scripts_old/
step4.pids
step5.swarm_ids
test.sh
test.swarn
